@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #f8f5ee;
}

aside {
    position: fixed;
    height: 100%;
    left: 0;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .75em;
    z-index: 99;
}

aside img {
    width: 2em;
    left: 0;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

aside img:hover {
    left: .75em;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.title {
    font-weight: bold;
    font-size: 6em;
    line-height: 1em;
    color: #AFA690;
    font-family: Playfair Display;
    text-align: right;
}

.subtitle {
    color: #B7B09F;
    font-size: 1.75em;
    font-family: Roboto;
}

.avatar {
    width: 10em;
    border-radius: 100%;
}

.left, .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
}

.left {
    border-right: 2px solid #AFA690;
}

.right {
    gap: 1.5em;
}

@keyframes fade-in-border {
    0% {
        font-size: 0;
    }
    100% {
        font-size: 1em;
    }
}

@keyframes fade-in-title {
    0% {
        color: transparent;
    }
    100% {
        color: #AFA690;
    }
}

@keyframes fade-in-subtitle {
    0% {
        color: transparent;
    }
    100% {
        color: #B7B09F;
    }
}

#home .left {
    border-right: 0;
}

#home .right {
    animation: fade-in-border 1s ease-in;
    animation-delay: .25s;
    animation-fill-mode: forwards;
    font-size: 0;
    gap: 1em;
    padding: 2em;
    border-left: 2px solid #AFA690;
}

#home .right .title {
    animation: fade-in-title .75s ease-in;
    animation-delay: 1.25s;
    animation-fill-mode: forwards;
    color: transparent;
}

#home .right .subtitle {
    animation: fade-in-subtitle .75s ease-in;
    animation-delay: 1.25s;
    animation-fill-mode: forwards;
    color: transparent;
}

@keyframes bounce {
    0% {
        translate: 0 0;
    }
    100% {
        translate: 0 50px;
    }
}

.arrow-container {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%);
    animation: bounce 0.75s cubic-bezier(0, 0, 0.5, 0) infinite alternate-reverse;
}

.row {
    display: flex;
    justify-content: center;
}

.project-row {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    padding: 0 3%;
}

.title-container {
    padding: 2em;
    border-right: 2px solid #AFA690;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-container {
    height: 25em;
    width: 20em;
    background-color: #D1CBBE;
    cursor: pointer;
    transition: all .3s ease-in-out;
    bottom: 0;
}

.project-container:hover {
    bottom: 1em;
}

#about-me {
    padding: 0 10%;
}

@media screen and (max-width: 1450px) {
    body {
        font-size: 14px;
    }
}

@media screen and (max-width: 1200px) {
    body {
        font-size: 13px;
    }
}

@media screen and (max-width: 900px) {
    body {
        font-size: 12px;
    }
    .row {
        flex-direction: column;
    }
    #about-me .arrow-container {
        position: relative;
        transform: none;
        left: auto
    }
    #about-me {
        flex-direction: column;
    }
    #about-me .left {
        border-left: 2px solid #AFA690;
        border-right: 0;
    }
    #about-me .left p{
        text-align: left;
    }
}

@media screen and (max-width: 665px) {
    .project-row {
        justify-content: center;
    }
}

@media screen and (max-width: 638px) {
    .title-container {
        text-align: right;
        width: 100%;
    }
}

@media screen and (max-width: 515px) {
    body {
        font-size: 11px;
    }
}

@media screen and (max-width: 420px) {
    body {
        font-size: 10px;
    }
}

